@model EditRoleViewModel

@{
    ViewBag.Title = "Edit Role";
}

<form method="post" class="py-5">
    <h1 class="text-center">Edit Role</h1>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="form-group">
                <label asp-for="@Model.Id"></label>
                <input asp-for="@Model.Id" class="form-control" disabled>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="form-group">
                <label asp-for="@Model.RoleName"></label>
                <input asp-for="@Model.RoleName" class="form-control">
                <span asp-validation-for="@Model.RoleName" class="text-danger"></span>
            </div>

        </div>
    </div>

     <div class="row">
            <div class="col-md-6 offset-md-3">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>


    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div>
                <button class="btn btn-primary" type="submit">Update</button>
                <a class="btn btn-danger" asp-controller="Administration" asp-action="ListRoles">Cancel</a>
            </div>
        </div>
    </div>

    <div class="card mb-3 mt-3">
                <div class="card-header">
                    Users in this role
                </div>
                <div class="card-body">
                  @if (Model.Users.Any())
                  {
                      foreach (var user in Model.Users)
                      {
                          <h5 class="card-title">@user</h5>
                      }
                  }
                  else
                  {
                      <h5 class="card-title">None at the moment</h5>
                  }
                </div>
                            <div class="card-footer">
                               <a asp-controller="Administration" asp-action="EditUsersInRole" asp-route-roleId="@Model.Id" class="btn btn-primary" style="width: auto">Add or remove Users</a>
                            </div>
            </div>

</form>
